<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">
<title>Forgot Password</title>

<link rel="stylesheet" th:href="@{/css/Student/forgot_password.css}">

</head>


<body>

	

<div class="password-container">


    <div class="password-card">


        <h2>Forgot Password</h2>


        <p class="error-message"
           th:if="${error}"
           th:text="${error}">
        </p>


        <p class="success-message"
           th:if="${success}"
           th:text="${success}">
        </p>



        <form th:action="@{/forgot-password}" method="post">


            <div class="input-group">

                <label>Email</label>

                <input type="email"
                       name="email"
                       placeholder="Enter registered email"
                       required>

            </div>



            <button type="submit">
                Send OTP
            </button>


        </form>



        <a th:href="@{/login}" class="back-btn">
            ← Back to Login
        </a>


    </div>


</div>


</body>

</html>