<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">

<title>Reset Password</title>

<link rel="stylesheet" th:href="@{/css/Student/verify_otp.css}">

</head>


<body>


<div class="password-container">


    <div class="password-card">


        <h2>Reset Password</h2>


        <!-- Success Message -->
        <p th:if="${success}"
           th:text="${success}"
           class="success-message">
        </p>


        <!-- Error Message -->
        <p th:if="${error}"
           th:text="${error}"
           class="error-message">
        </p>



        <form th:action="@{/reset-password}" method="post">


            <input type="hidden"
                   name="email"
                   th:value="${email}">


            <div class="input-group">

                <label>New Password</label>

                <input type="password"
                       name="password"
                       placeholder="Enter new password"
                       required>

            </div>



            <button type="submit">

                Reset Password

            </button>


        </form>



        <a th:href="@{/login}" class="back-btn">

            ← Back to Login

        </a>


    </div>


</div>


</body>

</html>