*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}


body{

    background:#F1F5F9;

    color:#1E293B;

}



/* Main Container */

.password-container{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

}



/* Card */

.password-card{

    width:420px;

    background:white;

    padding:35px;

    border-radius:20px;

    box-shadow:0 10px 25px rgba(15,23,42,0.15);

}



/* Heading */

.password-card h2{

    text-align:center;

    margin-bottom:30px;

    color:#1E293B;

}



/* Messages */

.success-message{

    background:#DCFCE7;

    color:#166534;

    padding:12px;

    border-radius:10px;

    text-align:center;

    margin-bottom:20px;

    font-weight:600;

}



.error-message{

    background:#FEE2E2;

    color:#991B1B;

    padding:12px;

    border-radius:10px;

    text-align:center;

    margin-bottom:20px;

    font-weight:600;

}



/* Input */

.input-group{

    margin-bottom:20px;

}



.input-group label{

    display:block;

    margin-bottom:8px;

    font-weight:600;

    color:#475569;

}



.input-group input{

    width:100%;

    padding:12px 15px;

    border:1px solid #CBD5E1;

    border-radius:10px;

    outline:none;

    font-size:15px;

}



.input-group input:focus{

    border-color:#7C3AED;

}



/* Buttons */

.button-group{

    display:flex;

    gap:15px;

    margin-top:25px;

}



.button-group button{

    flex:1;

    padding:13px;

    background:#7C3AED;

    color:white;

    border:none;

    border-radius:10px;

    font-size:16px;

    font-weight:600;

    cursor:pointer;

}



.button-group button:hover{

    background:#6D28D9;

}



/* Back Button */

.back-btn{

    flex:1;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:13px;

    background:#64748B;

    color:white;

    border-radius:10px;

    text-decoration:none;

    font-size:16px;

    font-weight:600;

}



.back-btn:hover{

    background:#475569;

}


/* Dashboard Button */

.dashboard-btn {

    display: inline-block;

    text-decoration: none;

    background: #334155;

    color: white;

    padding: 12px 25px;

    border-radius: 8px;

    font-size: 14px;

    font-weight: 600;

    margin-left: 10px;

    transition: 0.3s;

}


.dashboard-btn:hover {

    background: #1e293b;

    color: white;

    transform: translateY(-2px);

}