<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/src/main/resources/static/css/style.css">
</head>
<body>
    <form action="/login" class="form"   method="post">

        <h1>Login</h1>
        <input type="email" name="email" placeholder="Enter your E-mail"  class="box">

        <input type="password" name="password" placeholder="Enter your Password" class="box">

        <input type="submit" value="LOGIN" id="submit">
		
		
		<p class="text-danger text-center mt-3"
		th:text="${message}">
		</p>
		
    </form>
</body>
</html>