<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Sign Up Page</title>

	<link rel="stylesheet" th:href="@{/css/signup.css}">
</head>
<body>
    <div class="card p-4">

        <h2>Student Sign Up Page</h2>
        
        <form action="/signup" method="post">
            
        <div class="mb-3">
            <label for="">Enter Student Name</label>
            <input type="text" name="name" class="form-control" placeholder="Enter Student Name" required>
        </div>

        <div class="mb-3">
            <label>Enter student Age</label>
            <input type="number" name="age" class="form-control" placeholder="Enter Student Age" required>
        </div>

        <div class="mb-3">
            <label>Enter Student Department </label>
            <input type="text" name="department" class="form-control" placeholder="Enter Student Department" required>
        </div>

        <div class="mb-3">
            <label>Enter Student E-mail</label>
            <input type="email" name="email" class="form-control" placeholder="Enter Student E-mail">
        </div>

        <div class="mb-3">
            <label>Enter Student City</label>
            <input type="text" name="city" class="form-control" placeholder="Enter Student city" required>
        </div>

        <div class="mb-3">
            <label>Enter Student Password</label>
            <input type="password" name="password" class="form-control" placeholder="Enter Student Password" required>
        </div>


        <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>